*
{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
html
{
    scroll-behavior: smooth;
}
#wrap
{
    text-align: center;
    font-size: 30px; color: #ffffff;
}

#main
{
    height: 820px;
    background-color: #ffffff;
}
.main-container
{
    width: 1920px;
    height: inherit;
    margin: 0 auto;
    background-color: #ffffff;
}
.myPage-form
{
    left: 50%;
    width: 1620px;
    height: 600px;
    margin: 0 auto;
    background-color: #b8f1ff;
    border-radius: 30px;
}
#footer
{
    height: 180px;
    line-height: 60px;
    background-color: #ffffff;
}
.footer-container
{
    width: 1920px;
    height: inherit;
    margin: 0 auto;
    background-color: #2c2c2c;
    border-radius: 30px;
}