*
{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
html
{
    scroll-behavior: smooth;
}
#wrap
{
    text-align: center;
    font-size: 30px; color: #ffffff;
}
#head
{
    height: 80px;
    width: 100%;
    background-color: #ffffff;
}
#main
{
    height: 920px;
    background-color: #ffffff;
    margin-bottom: 40px;
}
.main-container
{
    width: 1920px;
    height: inherit;
    margin: 0 auto;
    background-color: #ffffff;
}
.user-info
{
    width: 1420px;
    height: 500px;
    margin: 0 auto;
    background-color: #82bdd4;
    border-radius: 30px;
}
pre
{
    text-align: left;
}
.myPage-form
{
    left: 50%;
    width: 1920px;
    height: 750px;
    margin: 0 auto;
    background-color: #b8f1ff;
    border-radius: 30px;
}