* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
}

.title-container {
  color: black;
  font-size: 30px;
  font-family: Noto Sans;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  justify-content:center; /* 왼쪽 정렬로 수정 */
  margin: 0 auto; /* 왼쪽 정렬을 유지하려면 margin을 삭제 */
}

.box:hover {
  transform: translateY(-2%) scale(1.02);
  transition: transform 0.2s;
}

.box {
   width: 300px; /* 한 줄에 4개가 나오도록 설정, 간격 포함하여 계산 */
  margin: 15px;
  position: relative;
  margin-bottom: 30px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* 세로 중앙 정렬 */
  text-align: center; /* 가로 중앙 정렬 */
}

@media (max-width: 768px) {
  .box {
    width: 100%;
  }
}

.image {
  width: 300px;
  height: 300px;
  position: relative;
}

.next {
  width: 50px;
  position: absolute;
  right: 10px;
  top: 50%;
  display: none;
}

.image:hover .next {
  display: block;
}

.next:hover {
  transform: translateY(-15%) scale(1.05);
  transition: transform 0.2s;
}

.bookmark {
  width: 30px;
  position: absolute;
  right: 15px;
  top: 15px;
  display: none;
}

.image:hover .bookmark {
  display: block;
}

.title {
  color: black;
  font-size: 20px;
  font-family: Noto Sans;
  font-weight: 700;
  word-wrap: break-word;
  margin-top: 5px;
}

.text {
  color: #A3A3A3;
  font-size: 20px;
  font-family: Noto Sans;
  font-weight: 400;
  word-wrap: break-word;
}

.page-number {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: inline;
}

ul li a {
  padding: 10px;
  font: 25px Noto Sans;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  color: #000;
}

ul li a:hover,
ul li a:focus {
  color: #fff;
  border: 1px solid #0085FF;
  background-color: #0085FF;
}
#wrap
{
    text-align: center;
    font-size: 30px; color: #ffffff;
}
#head
{
    height: 80px;
    width: 100%;
    background-color: #ffffff;
}
#footer
{
    height: 380px;
    line-height: 60px;
    background-color: #2c2c2c;
    border-radius: 30px;
}
.footer-container
{
    width: 1920px;
    height: inherit;
    margin: 0 auto;
    background-color: #2c2c2c;
    border-radius: 30px;
}
#margin-left
{
    width: 80px;
    height: 380px;
    background-color: #2c2c2c;
    float: left;
    border-radius: 30px;
}
#copyright
{
    width: 1580px;
    height: 380px;
    background-color: #2c2c2c;
    float: left;
    text-align: left;
    font-size: 40px;
}
#footer-logo
{
    width: 180px;
    height: 380px;
    float: left;
    background-image: url('./static/footer_logo.png');
    background-repeat: no-repeat;
}