* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100vw;
  font-family: 'Noto Sans KR';
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/noto-sans/noto-sans-kr-v21-korean-regular.woff2') format('woff2')
}

.title-container {
  color: rgb(36, 36, 36);
  font-size: 30px;
  font-family: Noto Sans;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  justify-content:center; /* 왼쪽 정렬로 수정 */
  margin: 0 auto; /* 왼쪽 정렬을 유지하려면 margin을 삭제 */
}

.box:hover {
  transform: translateY(-2%) scale(1.02);
  transition: transform 0.2s;
}

.box {
   width: 300px; /* 한 줄에 4개가 나오도록 설정, 간격 포함하여 계산 */
  margin: 15px;
  position: relative;
  margin-bottom: 30px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* 세로 중앙 정렬 */
  text-align: center; /* 가로 중앙 정렬 */
}

@media (max-width: 768px) {
  .box {
    width: 100%;
  }
}

.image {
  width: 300px;
  height: 300px;
  position: relative;
}

.next {
  width: 50px;
  position: absolute;
  right: 10px;
  top: 50%;
  display: none;
}

.image:hover .next {
  display: block;
}

.next:hover {
  transform: translateY(-15%) scale(1.05);
  transition: transform 0.2s;
}

.bookmark {
  width: 30px;
  position: absolute;
  right: 15px;
  top: 15px;
  display: none;
}

.image:hover .bookmark {
  display: block;
}

.title {
  color: rgb(36, 36, 36);
  font-size: 20px;
  font-family: Noto Sans;
  font-weight: 700;
  word-wrap: break-word;
  margin-top: 5px;
}

.text {
  color: #6d6d6d;
  margin-top: 5px;
  font-size: 17px;
  font-family: Noto Sans;
  font-weight: 400;
  word-wrap: break-word;
  height: 50px;
}

.page-number {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: inline;
}

ul li a {
  padding: 10px;
  font: 25px Noto Sans;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  color: #000;
}

ul li a:hover,
ul li a:focus {
  color: #fff;
  border: 1px solid #0085FF;
  background-color: #0085FF;
}
#head
{
    height: 80px;
    width: 100%;
    background-color: #ffffff;
}