*
{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
html
{
    scroll-behavior: smooth;
}
#wrap
{
    text-align: center;
    font-size: 30px; color: #ffffff;
}
#menu
{
    left: 50%;
    transform: translate(-50%, 0);
    position: fixed;
    margin: 0 auto;
    height: 80px;
    width: 1920px;
    background-color: rgb(255, 255, 255, 0);
}
#menu a
{
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
}
#banner
{
    height: 1080px;
    margin-bottom: 40px;
    background-color: #ffffff;
}
.banner-container
{
    width: 1920px;
    height: inherit;
    margin: 0 auto;
    background-image: url("./image/busan_bg.jpg");
    border-radius: 10px 10px 30px 30px;
}
.banner-text
{
    position: absolute;
    width: 100%;
    top: 540px;
    right: 420px;
}
.banner-text .p1
{
    text-align: center;
    font-size: 64px;
    color: #ffffff;
    text-shadow: 6px 2px 2px gray;
    
}
.banner-text .p2
{
    text-align: center;
    font-size: 82px;
    color: #ffffff;
    text-shadow: 6px 2px 2px gray;
    
}
.banner-text .p3
{
    text-align: center;
    font-size: 70px;
    color: #ffffff;
    text-shadow: 6px 2px 2px gray;
    
}
#about
{
    height: 980px;
    margin-bottom: 60px;
    background-color: #ffffff;
}
.about-container
{
    width: 1920px;
    height: inherit;
    margin: 0 auto;
    background-color: #ffffff;
}
.item1
{
    background-image: url('./image/item1.jpg');
    height: 980px;
    width: 620px;
    float: left;
    margin-right: 30px;
    border-radius: 30px;
}
.item1:hover
{
    transform: scale(1.02);
}
.item2
{
    background-image: url('./image/item2.jpg');
    height: 470px;
    width: 620px;
    float: left;
    margin-right: 30px;
    margin-bottom: 40px;
    border-radius: 30px;
}
.item2:hover
{
    transform: scale(1.02);
}
.item3
{
    background-image: url('./image/item3.jpg');
    height: 470px;
    width: 620px;
    float: left;
    border-radius: 30px;
    
}
.item3:hover
{
    transform: scale(1.02);
}
.item4
{
    background-image: url('./image/item4.jpg');
    height: 470px;
    width: 1270px;
    float: left;
    border-radius: 30px;
    
}
.item4:hover
{
    transform: scale(1.02);
}
#contents
{
    height: 820px;
    margin-bottom: 100px;
    background-color: #ffffff;
}
.container-container
{
    width: 1920px;
    height: inherit;
    margin: 0 auto;
    background-color: #be5151;
    border-radius: 30px;
}
#event
{
    height: 420px;
    margin-bottom: 60px;
    background-color: #ffffff;
}
.event-container
{
    width: 1920px;
    height: inherit;
    margin: 0 auto;
    background-color: #c3c52d;
    border-radius: 30px;
}
#footer
{
    height: 180px;
    line-height: 60px;
    background-color: #ffffff;
}
.footer-container
{
    width: 1920px;
    height: inherit;
    margin: 0 auto;
    background-color: #2c2c2c;
    border-radius: 30px;
}

.img1
{
    height: 700px;
    width: 500px;
    background-color: #eba2a2;
    border-radius: 30px;
}
.img2
{
    height: 700px;
    width: 500px;
    background-color: #545511;
    border-radius: 30px;
}
.img3
{
    height: 700px;
    width: 500px;
    background-color: #c9ec4b;
    border-radius: 30px;
}
.img4
{
    height: 700px;
    width: 500px;
    background-color: #c0aaaa;
    border-radius: 30px;
}
.img5
{
    height: 700px;
    width: 500px;
    background-color: #3891cc;
    border-radius: 30px;
}
.img6
{
    height: 700px;
    width: 500px;
    background-color: #26bb82;
    border-radius: 30px;
}
.img7
{
    height: 700px;
    width: 500px;
    background-color: #be8fb4;
    border-radius: 30px;
}
.img8
{
    height: 700px;
    width: 500px;
    background-color: #944ad1;
    border-radius: 30px;
}
.img9
{
    height: 700px;
    width: 500px;
    background-color: #2c0606;
    border-radius: 30px;
}
.img10
{
    height: 700px;
    width: 500px;
    background-color: #bea7ac;
    border-radius: 30px;
}
.img11
{
    height: 700px;
    width: 500px;
    background-color: #e9b23c;
    border-radius: 30px;
}
.img12
{
    height: 700px;
    width: 500px;
    background-color: #2be0aa;
    border-radius: 30px;
}
.img13
{
    height: 700px;
    width: 500px;
    background-color: #404b43;
    border-radius: 30px;
}
.img14
{
    height: 700px;
    width: 500px;
    background-color: #0b2d49;
    border-radius: 30px;
}
.img15
{
    height: 700px;
    width: 500px;
    background-color: #ff0606;
    border-radius: 30px;
}
.img1:hover
{
    transform: scale(1.02);
}
.img2:hover
{
    transform: scale(1.02);
}
.img3:hover
{
    transform: scale(1.02);
}
.img4:hover
{
    transform: scale(1.02);
}
.img5:hover
{
    transform: scale(1.02);
}
.img6:hover
{
    transform: scale(1.02);
}
.img7:hover
{
    transform: scale(1.02);
}
.img8:hover
{
    transform: scale(1.02);
}
.img9:hover
{
    transform: scale(1.02);
}
.img10:hover
{
    transform: scale(1.02);
}
.img11:hover
{
    transform: scale(1.02);
}
.img12:hover
{
    transform: scale(1.02);
}
.img13:hover
{
    transform: scale(1.02);
}
.img14:hover
{
    transform: scale(1.02);
}
.img15:hover
{
    transform: scale(1.02);
}